    body {
        background-color: #f7f7f7 !important;
        width: 100%;
        overflow-x: hidden !important;
    }
    
    h1 {
        font-family: 'Raleway', sans-serif;
    }
    
    hr {
        border-color: #A7A7A9;
    }
    
    .row {
        background-color: #ffffff !important;
    }
    
    .til_div {
        font-family: 'Open-Sans', sans-serif;
    }
    
    .til_body {
        background-color: #ffffff;
        border-radius: 10px;
    }
    
    .til_date {
        color: #858585;
    }
    
    .til_title {
        color: #008fb3;
    }
    
    .til_text {
        color: #858585;
    }
    
    .footer {
        color: #858585;
        font-family: 'Tangerine', cursive;
    }
    
    @media screen and (max-width: 39.9375em) {
        h1 {
            margin-left: 25% !important;
            margin-top: 10% !important;
        }
        .row {
            margin-left: 10% !important;
            margin-top: 15% !important;
            width: 80% !important;
        }
        p {
            margin: 0 !important;
        }
        .medium-3 {
            padding: 5% !important;
            margin-top: 5% !important;
            background-color: #4DD0E1;
        }
        .til_date {
            margin-left: 5% !important;
            color: #ffffff;
        }
        .language {
            margin-left: 20% !important;
            color: #ffffff !important;
        }
        .til_title {
            padding-top: 5% !important;
            margin-bottom: 5% !important;
            margin-left: 20% !important;
        }
        .til_text {
            margin: 2% !important;
            text-align: justify;
        }
        .footer {
            background-color: #f7f7f7 !important;
            padding: 0 !important;
            margin: 0 !important;
            margin-left: 30% !important;
            margin-top: 5% !important;
            font-size: 1.3em;
        }
    }
    /* Medium and up */
    
    @media screen and (min-width: 40em) {
        h1 {
            margin-left: 25% !important;
            margin-top: 10% !important;
        }
        .row {
            margin-left: 10% !important;
            margin-top: 5% !important;
            width: 80% !important;
        }
        p {
            margin: 0 !important;
        }
        .medium-3 {
            padding: 5% !important;
            background-color: #4DD0E1;
        }
        .til_date {
            color: #ffffff;
        }
        .language {
            margin-left: 10% !important;
            color: #ffffff !important;
        }
        .til_title {
            padding-top: 5% !important;
            margin-bottom: 5% !important;
            margin-left: 2% !important;
        }
        .til_text {
            margin: 2% !important;
            text-align: justify;
        }
        .footer {
            background-color: #f7f7f7 !important;
            padding: 0 !important;
            margin: 0 !important;
            margin-left: 40% !important;
            margin-top: 5% !important;
            font-size: 1.5em;
            margin-bottom: 0 !important;
        }
    }
    /* Medium only */
    
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        h1 {
            margin-left: 25% !important;
            margin-top: 10% !important;
        }
        .row {
            margin-left: 10% !important;
            margin-top: 5% !important;
            width: 80% !important;
        }
        p {
            margin: 0 !important;
        }
        .medium-3 {
            padding: 5% !important;
            background-color: #4DD0E1;
        }
        .til_date {
            color: #ffffff;
        }
        .language {
            margin-left: 20% !important;
            color: #ffffff !important;
        }
        .til_title {
            padding-top: 5% !important;
            margin-bottom: 5% !important;
            margin-left: 2% !important;
        }
        .til_text {
            margin: 2% !important;
            text-align: justify;
        }
        .footer {
            background-color: #f7f7f7 !important;
            padding: 0 !important;
            margin: 0 !important;
            margin-left: 40% !important;
            margin-top: 5% !important;
            font-size: 1.5em;
            margin-bottom: 0 !important;
        }
    }
    /* Large and up */
    
    @media screen and (min-width: 64em) {
        h1 {
            margin-left: 35% !important;
            margin-top: 3% !important;
        }
        .row {
            margin-left: 15% !important;
            margin-top: 3% !important;
            width: 70% !important;
        }
        p {
            margin: 0 !important;
        }
        .medium-3 {
            padding: 5% !important;
            background-color: #4DD0E1;
        }
        .til_date {
            color: #ffffff;
        }
        .language {
            margin-left: 15% !important;
            color: #ffffff !important;
        }
        .til_title {
            padding-top: 2% !important;
            margin-bottom: 2% !important;
            margin-left: 2% !important;
        }
        .til_text {
            margin: 2% !important;
            text-align: justify;
        }
        .footer {
            background-color: #f7f7f7 !important;
            padding: 0 !important;
            margin: 0 !important;
            margin-left: 40% !important;
            margin-top: 5% !important;
            font-size: 1.7em;
            margin-bottom: 0 !important;
        }}
    /* Large only */
    
    @media screen and (min-width: 64em) and (max-width: 74.9375em) {}
