    body {
        background-color: #f7f7f7;
        width: 100%;
        overflow-x: hidden;
    }
    
    h1 {
        font-family: 'Raleway', sans-serif;
    }
    
    hr {
        border-color: #A7A7A9;
    }
    
    .til_div {
        font-family: 'Open-Sans', sans-serif;
    }
    
    .til_body {
        background-color: #ffffff;
        border-radius: 10px;
    }
    
    .til_date {
        color: #858585;
    }
    
    .til_title {
        color: #008fb3;
    }
    
    .til_text {
        color: #858585;
    }
    
    .footer {
        color: #858585;
        font-family: 'Tangerine', cursive;
    }
    
    @media (min-width: 0px) and (max-width: 320px) {
        h1 {
            /*position: absolute; */
            margin-left: 20%;
            margin-top: 15%;
            font-size: 1.5em;
            padding-bottom: 10%;
        }
        .til_body {
            margin-top: 5%;
            margin-left: 5%;
            width: 85%;
            padding-top: 10%;
            padding-bottom: 5%;
        }
        .til_div {
            margin-top: 5%;
            margin-left: 10%;
            width: 90%;
        }
        .til_title {
            margin-top: 1%;
            margin-bottom: 5%;
            margin-top: 1%;
            font-size: 1em;
        }
        .til_date {
            margin-top: 5%;
            margin-bottom: 4%;
            font-size: .8em;
        }
        .til_text {
            margin-top: 5%;
            margin-bottom: 10%;
            font-size: .8em;
        }
        .footer {
            margin-left: 30%;
        }
    }
    
    @media (min-width: 321px) and (max-width: 425px) {
        h1 {
            /*position: absolute; */
            margin-left: 25%;
            margin-top: 15%;
            font-size: 1.5em;
            padding-bottom: 10%;
        }
        .til_body {
            margin-top: 5%;
            margin-left: 3%;
            width: 90%;
            padding-top: 10%;
            padding-bottom: 5%;
        }
        .til_div {
            margin-top: 5%;
            margin-left: 5%;
            width: 90%;
        }
        .til_title {
            margin-bottom: 5%;
            margin-top: -10%;
            font-size: 1em;
        }
        .til_date {
            margin-left: 80%;
            margin-top: 5%;
            font-size: .8em;
        }
        .til_text {
            margin-top: 5%;
            margin-bottom: 10%;
            font-size: .8em;
            width: 70%;
            line-height: 20px;
        }
        .footer {
            margin-top: 20%;
            margin-left: 35%;
        }
    }
    
    @media (min-width: 426px) and (max-width: 768px) {
        h1 {
            /*position: absolute; */
            margin-left: 35%;
            margin-top: 10%;
            font-size: 1.5em;
            padding-bottom: 5%;
        }
        .til_body {
            margin-top: %;
            margin-left: 15%;
            width: 70%;
            padding-top: 5%;
            padding-bottom: 5%;
        }
        .til_div {
            margin-top: 5%;
            margin-left: 5%;
            width: 90%;
        }
        .til_title {
            margin-bottom: 5%;
            margin-top: -5%;
            font-size: 1.2em;
        }
        .til_date {
            margin-left: 80%;
            margin-top: 5%;
            font-size: .8em;
        }
        .til_text {
            margin-top: 5%;
            margin-bottom: 10%;
            font-size: .9em;
            width: 50%;
            line-height: 20px;
        }
        .footer {
            margin-top: 10%;
            margin-left: 40%;
        }
    }
    
    @media (min-width: 769px) and (max-width: 1024px) {
        h1 {
            /*position: absolute; */
            margin-left: 35%;
            margin-top: 10%;
            font-size: 1.5em;
            padding-bottom: 5%;
        }
        .til_body {
            margin-top: %;
            margin-left: 15%;
            width: 70%;
            padding-top: 5%;
            padding-bottom: 5%;
        }
        .til_div {
            margin-top: 5%;
            margin-left: 5%;
            width: 90%;
        }
        .til_title {
            margin-bottom: 5%;
            margin-top: -5%;
            font-size: 1em;
        }
        .til_date {
            margin-left: 80%;
            margin-top: 5%;
            font-size: .8em;
        }
        .til_text {
            margin-top: 5%;
            margin-bottom: 10%;
            font-size: .8em;
            width: 50%;
            line-height: 20px;
        }
        .footer {
            margin-top: 10%;
            margin-left: 40%;
            font-size: 1.5em;
        }
    }
    
    @media (min-width: 1025px) {
        h1 {
            /*position: absolute; */
            margin-left: 42%;
            margin-top: 5%;
            font-size: 1.5em;
            padding-bottom: 5%;
        }
        .til_body {
            margin-top: %;
            margin-left: 25%;
            width: 50%;
            padding-top: 5%;
            padding-bottom: 5%;
        }
        .til_div {
            
            margin-left: 5%;
            width: 90%;
        }
        .til_title {
            margin-bottom: 5%;
            margin-top: -5%;
            font-size: 1em;
        }
        .til_date {
            margin-left: 80%;
            
            font-size: .8em;
        }
        .til_text {
            margin-top: 5%;
            margin-bottom: 10%;
            font-size: .8em;
            width: 50%;
            line-height: 20px;
        }
        .footer {
            margin-top: 10%;
            margin-left: 40%;
            font-size: 1.5em;
        }
    }
