body {
    background-color: #f7f7f7 !important;
    width: 100% !important;
    font-family: 'Open Sans', sans-serif !important;
    
}

.row {
    background-color: #FFFFFF !important;
}

h1 {
    color: #43A047 !important;
}

a {
    color: inherit;
}

.blog_date {
    color: #ffffff;
}

.blog_link {
    color: #008fb3;
}

.small-3 {
    background-color: #039BE5;
}

.footer {
    color: #F57C00;
    font-family: 'Tangerine', cursive;
}

@media screen and (max-width: 39.9375em) {
    h1 {
        margin-left: 20% !important;
        margin-top: 10% !important;
        margin-bottom: 10% !important;
    }
    .row {
        margin-left: 5% !important;
        margin-top: 5%;
        !important;
        padding: 5% !important;
        padding-right: 0% !important;
        padding-left: 0% !important;
        width: 90%;
    }
    .blog_link {
        margin: 0 !important;
        margin-left: 0% !important;
        font-size: 0.8em !important;
    }
    .blog_date {
        font-size: 0.8em;
        padding-bottom: 0 !important;
        padding-top: 3% !important;
    }
    .footer {
        margin-top: 5% !important;
        margin-left: 30%;
        font-size: 1.3em;
    }
    .twitter-follow-button {
        margin-left: 20% !important;
        margin-bottom: 5% !important;
    }
}


/* Medium and up */

@media screen and (min-width: 40em) {
    h1 {
        margin-left: 25% !important;
        margin-top: 5% !important;
        margin-bottom: 5% !important;
    }
    .row {
        margin-left: 10% !important;
        margin-top: 5%;
        !important;
        padding: 5% !important;
        padding-right: 0% !important;
        padding-left: 0% !important;
        width: 80%;
    }
    .blog_link {
        margin: 0 !important;
        margin-left: 0% !important;
        font-size: 1em !important;
    }
    .blog_date {
        font-size: 1em;
        padding-bottom: 0 !important;
        padding-top: 3% !important;
    }
    .footer {
        margin-top: 5% !important;
        margin-left: 40%;
        font-size: 1.7em;
    }
    .twitter-follow-button {
        margin-left: 35% !important;
        margin-bottom: 0% !important;
    }
}


/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    h1 {
        margin-left: 35% !important;
        margin-top: 5% !important;
        margin-bottom: 5% !important;
    }
    .row {
        margin-left: 15% !important;
        margin-top: 2% !important;
        padding: 5% !important;
        padding-right: 0% !important;
        padding-left: 0% !important;
        width: 70%;
    }
    .blog_link {
        margin: 0 !important;
        margin-left: 0% !important;
        font-size: 1em !important;
    }
    .blog_date {
        font-size: 1em;
        padding-bottom: 0 !important;
        padding-top: 3% !important;
    }
    .footer {
        margin-top: 5% !important;
        margin-left: 40%;
        font-size: 1.7em;
    }
    .twitter-follow-button {
        margin-left: 35% !important;
        margin-bottom: 0% !important;
    }
}


/* Large and up */

@media screen and (min-width: 64em) {
    h1 {
        margin-left: 30% !important;
        margin-top: 5% !important;
        margin-bottom: 2% !important;
    }
    .row {
        margin-left: 20% !important;
        margin-top: 2% !important;
        padding: 2% !important;
        padding-right: 0% !important;
        padding-left: 0% !important;
        width: 60%;
    }
    .blog_link {
        margin: 0 !important;
        margin-left: 0% !important;
        font-size: 1em !important;
    }
    .blog_date {
        font-size: 1em;
        padding-bottom: 0 !important;
        padding-top: 3% !important;
    }
    .footer {
        margin-top: 5% !important;
        margin-left: 40%;
        font-size: 1.7em;
    }
    .twitter-follow-button {
        margin-left: 40% !important;
        margin-bottom: 3% !important;
        padding-bottom: 0% !important;
    }
}


/* Large only */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {
    h1 {
        margin-left: 30% !important;
        margin-top: 10% !important;
        margin-bottom: 10% !important;
    }
    .row {
        margin-left: 20% !important;
        margin-top: 5%;
        !important;
        padding: 5% !important;
        padding-right: 0% !important;
        padding-left: 0% !important;
        width: 60%;
    }
    .blog_link {
        margin: 0 !important;
        margin-left: 0% !important;
        font-size: 0.8em !important;
    }
    .blog_date {
        font-size: 0.8em;
        padding-bottom: 0 !important;
        padding-top: 3% !important;
    }
    .footer {
        margin-top: 5% !important;
        margin-left: 30%;
        font-size: 1.3em;
    }
    .twitter-follow-button {
        margin-left: 20% !important;
        margin-bottom: 5% !important;
    }
}
